p:hover{
    color:#748283;
}

input:checked+label{
    color:#018243;
}

input:enabled,
button:enabled{
    background-color:#cbc;
}

input:checked+label{
    color:#461839;
}

button:active{
    color:#756394;
}

li:first-child{
    color:blue;
}

li:last-child{
    color:green;
}

p:nth-child(1){
    color:red;
}