button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: plum;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

div{
    margin: 20px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
}

.order-area{
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #AAA;
}

.close{
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
}