li{
    background-color:#86efef;
    width:150px;
    height:150px;
    border-radius:75px;
    text-align:center;
    margin:30px;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
    float: left;
    cursor: pointer;
    font-size: large;
    list-style-type: none;
}

li:hover{
    transition-delay:1s;
}